@font-face {
	 font-family: JPheader-font;
	 src: url(./assets/fonts/YujiSyuku-Regular.ttf);
}

@font-face {
	font-family: header-font;
	src: url(./assets/fonts/Aleo-VariableFont_wght.ttf);
}

@font-face {
	font-family: main-font;
	src: url(./assets/fonts/Murecho-VariableFont_wght.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: main-font;
	font-size: 1.055rem;
}


/* GENERAL FROMATING */

h1 {
	font-family: JPheader-font;
}

h2, h3 {
	font-family: header-font;
}

.nav-header {
	background-color: #ddddef;
	padding: 15px;
}

.nav-header a {
	color: #000069;
	text-decoration: none;
	padding: 10px;
}

.nav-header a:visited {
	color: #000069;
}

.nav-header a:hover {
	color: #0088ab;
}

.nav-header a:active {
	color: #74d0e7;
}

.header {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.header-text {
	display: flex;
	flex-flow: column;
	background: linear-gradient(to top, rgb(4, 4, 47, 0.55) 0%, rgb(62, 70, 81, 0.45) 60%);
	border: none;
	border-radius: 10px;
	text-align: center;
	padding: 25px;
	position: absolute;
	top: 25%; /*will change to make dynamic later*/
	left: 25%;
	right: 25%;
	gap: 8px;
}

.header-text h1 {
	font-size: 2.6rem;
	color: #fff;
	margin: 0;
}

.header-text p {
	font-weight: 600;
	font-size: 1.5rem;
	color: #d8ebf3;
	margin: 0;
	font-family: header-font;
}

.header-bg-image {
	position: relative;
	background-size: cover;
	background-position: center;
	height: 300px;
	/*will change to make dynamic later?*/
}

.header-bg-image img {
	width: 100%;
}

.nav-header {
	align-self: stretch;
	display: flex;
	justify-content: space-evenly;
	font-size: 1.3rem;
	z-index: 1;
}

a:link {
	color: #0d0d82;
	text-underline-offset: 5px;
}

a:visited {
	color: #676e89;
}

a:hover {
	color: #0088ab;
	text-underline-offset: 1px;
}

a:active {
	color: #4dcbea;
}



/* INTRODUCTION PAGE */
.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

.intro {
	align-items: center;
	padding: 2rem 2.6rem;
	gap: 2rem;
}

.image-container {
	margin: 0;
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border: none;
	border-radius: 2rem;
}

figcaption {
	font-size: smaller;
}

.large-description{
	max-width: 50%;
}

#spin {
	display: inline-block;
	transform: rotate(90deg);
	padding: 0 5px;
}

/* ATTRACTIONS */
.attraction-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	gap: 2rem;
	padding: 2rem 0;
	text-align: justify;
}

.attraction-description {
	padding: 0 1.5rem;
}

.sizing {
	max-width: 30%;
}

.sizing h2 {
	font-size: 1.4rem;
}

figure, h2 {
	text-align: center;
}

/* FOOD/LOCAL EATS */

.sizing-LF {
	max-width: 40%;
}

.container:nth-of-type(even) {
	flex-flow: row-reverse;
}

.fig-spacing {
	gap: 1.4rem;
}

details summary h3 {
	display: inline-block;
}

details summary {
	list-style-type: '🔶 ';
}

details[open] summary {
	text-align: center;
	list-style-type: '🔸 ';
}

/* PHOTO GALLERY */
.photo-gallery-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	padding: 1rem;
}

.photo-item img {
	max-width: 100%;
	max-height: 92vh;
	border: none;
	border-radius: 1rem;
}

.sm-border {
	border: none;
	border-radius: 0.5rem;
}



/* MEDIA QEURIES */

/* tablet size */
@media (max-width: 768px) {
	.header-text {
		top: 20%;
		left: 22%;
		right: 22%;
	}
	.header-text h1 {
		font-size: 1.8rem;
	}

	.header-text p {
		font-size: 1.35rem;
	}

	.container {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
	
	.attraction-container {
		flex-flow: column wrap;
	}

	.attraction-description {
		padding: 0 3.5rem;
	}
	
	.sizing {
		max-width: 100%;
	}

	.container:nth-of-type(even) {
		flex-flow: row-reverse wrap;
	}

	.sizing-LF {
		max-width: 100%;
	}
	
	.large-description{
		max-width: 100%;
	}
	
}

/* moble size */
@media (max-width: 480px) {
	html, body {
		font-size: 1rem;
	}
	.header-text {
		left: 12%;
		right: 12%;
	}
	.header-text h1 {
		font-size: 1.3rem;
	}
	.nav-header {
		flex-wrap: wrap;
		font-size: 1rem;
	}

	.attraction-container {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		gap: auto;
		text-align: left;
	}

	.header-bg-image img {
		height: 100%;
	}
	
	#long-text {
		font-size: 1.2rem;
	}

	.photo-gallery-container {
		padding: 0.5rem 0;
	}

	.photo-item img {
		max-height: 100%;
	}
	
}
